<!DOCTYPE html>
<html>
<head>
<title>AGRI Tech</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

</head>
<body>

   <div class="topnav" id="myTopnav">
    <h1>AGRI Tech</h1>
               
      <%  if(!currentUser){ %> 
      <div class="dropdown">
            <button class="dropbtn">LOGIN
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/login">Login as Blogger</a>
              <a href="/companylogin">Login as company</a>
            </div>
          </div>
         
          <div class="dropdown">
            <button class="dropbtn">SIGN UP
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/register">SignUp as Blogger</a>
              <a href="/companyregister">SignUp as company</a>
            </div>
          </div>
           <a href="/schemes" >SCHEMES</a>
          <a href="/company" >COMPANY</a>
          <a href="/blog">BLOGS</a>
          <a href="/">HOME</a>
        
      <% }else{ %> 
        <a href="#"> Signed in As <%= currentUser.username %></a>
        <a href="/logout">Logout</a>
        <a href="/schemes" >SCHEMES</a>
        <a href="/">HOME</a>
        <a href="/blog">BLOGS</a>
      <% } %>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  
<div class="first">
  <div class="animated-title">
    <div class="text-top">
      <div>
        <span style="color: black;"><strong>Field is </strong></span>
        
      </div>
    </div>
    <div class="text-bottom">
      <div style="color: black;"><strong>Future!</strong></div>
    </div>
  </div>
</div>
<div class="about">
	<h1>ABOUT US</h1>
	<p>We the people at AgriTech try our best to maximize returns and minimize risks in agriculture, the backbone of the Indian economy, or perhaps find a better balance between production and consumption.
		We help farmers by providing company’s deal to sell their crops at best price and to increase their production via New Tech. and Govt. Schemes



  </p>
</div>

	
<div class="blog">
	<header>
  <h1>Scheme:</h1>
  <a href="/schemes">See More</a>
</header>
<div class="band">
 <% for(let i=0 ;i< 4 ;i++){ %>
  <div class = "item-2" >
      <a href = '<%= yojna[i].link %>' class = "card" > 
      <div class = "thumb" style = "background-image: url('<%=yojna[i].Image %>'); " > </div> 
  
      <article >
      <h1 > <%= yojna[i].Title %> </h1>  
      <p > <%= yojna[i].Description %> </p> 
    
      </article> 
      </a> 
    </div>
<% } %>
 
</div>
	</div>
	
<div class="blog2">
	<header>
  <h1>Company:</h1>
  <a href="/company">See More</a>
</header>
<div class="band">
 <% for(let i=0 ;i< 4 ;i++){ %>
        <div class = "item-2" >
            <a  class = "card" > 
            <div class = "thumb" style = "background-image: url('<%= company[i].img %>'); " > </div> 
        
            <article >
            <p > <strong>Name: </strong><%= company[i].Name %> </p>  
            <p > <strong>Company Type:</strong><%= company[i].CompanyType %> </p>
            <p > <strong>Crop:</strong><%= company[i].Crop %> </p>
            <p > <strong> Price(per quintol): </strong><%= company[i].Price %> </p>
            
            <p > <strong>Contract Type:</strong><%= company[i].ContractType %> </p>
           
            
            <p ><strong> CIN:</strong> <%= company[i].Cin %> </p>
             <p > <strong>Address:</strong><br><%= company[i].Address %> </p> 
            <p ><strong> Email:</strong><%= company[i].email %> </p>
                <p ><strong>Contact No.: </strong><%= company[i].contactNo %> </p>
          
            </article> 
            </a> 
          </div>
          <% } %>
 
</div>
	</div>
	
<div class="blog2">
	<header>
  <h1>Blogs:</h1>
  <a href="/blog">See More</a>
</header>
<div class="band">
  <% for(let i=0 ;i< 4 ;i++){ %>
  <div class = "item-2" >
      <a href = '#' class = "card" > 
      <div class = "thumb" style = "background-image: url('<%=blog[i].image %>'); " > </div> 
  
      <article >
      <h1 > <%= blog[i].Technology %> </h1>  
      <p > <%= blog[i].Use %> </p> 
    
      </article> 
      </a> 
    </div>
<% } %>
 
</div>
	</div>
	
	

<%- include('./partials/footer') %>








